/.idea/.gitignore
/.idea/.name
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/8.7/checksums/checksums.lock
/.idea/compiler.xml
/build/classes/java/main/rest/warehouse/ElectionController.class
/build/classes/java/main/rest/model/ElectionData.class
/build/classes/java/main/rest/warehouse/ElectionService.class
/build/classes/java/main/rest/warehouse/ElectionSimulation.class
/.gradle/8.7/executionHistory/executionHistory.bin
/.gradle/8.7/executionHistory/executionHistory.lock
/.gradle/file-system.probe
/.gradle/8.7/fileHashes/fileHashes.bin
/.gradle/8.7/fileHashes/fileHashes.lock
/.gradle/8.7/dependencies-accessors/gc.properties
/.gradle/8.7/gc.properties
/.gradle/vcs-1/gc.properties
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.gradle/8.7/fileChanges/last-build.bin
/build/tmp/bootJar/MANIFEST.MF
/build/tmp/jar/MANIFEST.MF
/build/libs/marathon-0.0.1-SNAPSHOT.jar
/build/libs/marathon-0.0.1-SNAPSHOT-plain.jar
/.gradle/8.7/checksums/md5-checksums.bin
/.idea/misc.xml
/.gradle/buildOutputCleanup/outputFiles.bin
/build/classes/java/main/rest/model/PartyData.class
/build/classes/java/main/rest/model/PreferenceVote.class
/build/tmp/compileJava/previous-compilation-data.bin
/build/resolvedMainClassName
/.gradle/8.7/fileHashes/resourceHashesCache.bin
/.gradle/8.7/checksums/sha1-checksums.bin
/.idea/vcs.xml
/build/classes/java/main/rest/WarehouseApplication.class
/build/classes/java/main/rest/warehouse/WarehouseController.class
/build/tmp/compileJava/compileTransaction/stash-dir/WarehouseController.class.uniqueId0
/build/classes/java/main/rest/model/WarehouseData.class
/build/classes/java/main/rest/warehouse/WarehouseService.class
/build/classes/java/main/rest/warehouse/WarehouseSimulation.class
